body{
  margin: 0;
  padding-top: 1rem;
  overflow: hidden;
  box-sizing: border-box;

}
.Palette{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Palette-colors{
  height: 90%;
}
.slider{
  width: 350px;
  margin: 0 auto;
  display: inline-block;
}

.Palette-footer{
  background: white;
  height: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.emoji{
  font-size: 1.2rem;
  margin: 1rem;
}