
.Palette{
  margin-top: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;

 
}

.Palette-colors{
  height: 98vh;
  background: rgb(224, 224, 224) !important;
  margin: 0 auto;
}
.slider{
  width: 350px;
  margin: 0 auto;
  display: inline-block;
}

.Palette-footer{
  background: white;
  height: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.emoji{
  font-size: 1.2rem;
  margin: 1rem;
}